@import "../abstracts/colors";

.pos_container {
  display: flex;
  width: 100vw;
  .main_content {
    flex-grow: 1;
    padding: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 100vh;
    .section {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .section_header {
        position: sticky;
        top: 0;
      }
    }

    .categories_container {
      width: 100%;
position: relative;
      background-color: $light-bg-color-paper;
      border-radius: 10px;
      overflow: hidden;
      top: 0;
      height: max-content;
      padding: 10px 30px ;
      align-items: center;
    }
    .products_section {
      // flex-grow: 1;
      overflow-y: scroll;
    }
    .products_container {
      height: max-content;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 5px;
      // flex-grow: .9;
      // overflow-y: scroll;
      // height: 100%;
    }
  }
  .float_container {
    height: max-content;
    position: absolute;
    .header {
      height: 20px;
      width: 100%;
      background-color: var(--light-primary-color);
      margin-bottom: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  
    z-index: 1111;
    background-color: $light-bg-color-paper;
    user-select: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  
    .container {
      
      width: 300px;
      // width: max-content;
      // height: 300px;
      position: absolute;
      background-color: $light-bg-color-paper;
    }
  
    // .numbers {
    //   display: grid;
    //   gap: 10px;
    //   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    // }
  }
  
}

.dark .pos_container {
  .main_content {
    .categories_container {
      background-color: $dark-bg-color-paper;
    }
    .products_container {
    }
  }
  .float_container {
    height: max-content;
    position: absolute;
    .header {
      height: 20px;
      width: 100%;
      background-color: var(--dark-primary-color);
      margin-bottom: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  
    z-index: 1111;
    background-color: $dark-bg-color-paper;
    user-select: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  
    .container {
      
      width: 300px;
      // width: max-content;
      // height: 300px;
      position: absolute;
      background-color: $dark-bg-color-paper;
    }
  
    // .numbers {
    //   display: grid;
    //   gap: 10px;
    //   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    // }
  }
}

@media screen and (max-width: 800px) {
  .pos_container {
    .main_content {
      .categories_container {
        padding: 10px;
      }
      .products_container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
    }
  }
}
