 .ant-input,
 .ant-select-selector,.ant-picker {
  min-height: 50px !important; /* Set desired height */
  font-size: 16px; /* Optional: increase font size */
  padding: 8px; /* Adjust padding as needed */
}


/* LanguageSelector.css */
.active-menu-item {
  background-color: var(--light-primary-color) !important;
  color: white !important;
}


.dark .active-menu-item{
  background-color: var(--dark-primary-color) !important;
  color: white !important;
}

