@import "../abstracts/colors";
.settings_layout {
  display: flex;
  gap: 20px;
  width: 100%;
  position: relative;

  .settings_sidebar_container {
    width: 300px;
    transition: transform 0.5s ease;
    transform: translateX(0); // Initially visible
    z-index: 1111;
    background-color: $light-bg-color-paper;
    &.open {
      transform: translateX(0);

    }

    @media (max-width: 768px) {

        &.open {
          padding-top: 50px;
      
          }
      position: absolute;
      // transform: translateX(-100%); // Initially hidden on small devices
      &.open {
        transform: translateX(0);
      }
    }
  }

  .settings_outlet {
    flex-grow: 1;
    padding: 50px 15%;
    height: 100vh;
    overflow-y: scroll;
  }

  .toggle_button {
    display: none; // Hide by default
    position: absolute;
    top: 20px;
    left: 20px;
    //   background: transparent;
    border: none;
    cursor: pointer;
    z-index: 11111;
    // width: 40px;
    // height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
display: none;
    @media (max-width: 768px) {
      display: block; // Show on small devices
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}


.dark .settings_layout{
    .settings_sidebar_container{
        background-color: $dark-bg-color-paper;
    }
}